.root {
  @apply flex h-[320px] items-center justify-center;
}

.container {
  @apply w-[200%] h-[320px] overflow-hidden relative;
}

.slider {
  @apply w-[200%]  flex items-center h-fit justify-around absolute left-0 animate;
}

@keyframes scroll {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.animate {
  animation: scroll 25s linear infinite;
}
